---
interface Props {
    href: string;
}

const { href } = Astro.props as Props;
---

<a
    href={href}
    class:list={[
        "inline-block rounded-lg border bg-primary px-4 py-2 font-semibold text-white",
        "transform duration-300 hover:scale-105 hover:shadow-lg"
    ]}
>
    <slot />
</a>
