---
import { ChevronUpIcon } from "lucide-react";
---

<button
    id="scroll-up"
    class="fixed bottom-8 right-8 m-0 rounded-full bg-primary p-2 text-white shadow-lg"
>
    <ChevronUpIcon className="size-8" />
</button>

<script>
    function setupScrollToTop() {
        const scrollUpButtonEl = document.getElementById("scroll-up");

        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        }

        scrollUpButtonEl?.removeEventListener("click", scrollToTop);
        scrollUpButtonEl?.addEventListener("click", scrollToTop);
    }

    setupScrollToTop();

    // NOTE: We need to trigger the setup function after the page is swapped
    // This is due to the ViewTransitions API
    document.addEventListener("astro:after-swap", setupScrollToTop);
</script>
