---
interface Props {
    subheading?: boolean;
}

const { subheading = false } = Astro.props as Props;
---

<div>
    <!-- Background Text -->
    <div class="relative flex items-center justify-center">
        <div
            class="absolute -left-10 text-[8rem] font-bold tracking-tight text-gray-700 opacity-10 lg:-left-28 lg:text-[10rem]"
        >
            <slot name="background-text" />
        </div>
    </div>
    <!-- Foreground Heading -->
    <div>
        {
            subheading && (
                <div class="flex items-center">
                    <div class="w-1/5 border-t border-secondary lg:max-w-[4rem]" />
                    <span class="ml-4 text-base font-semibold uppercase tracking-widest text-secondary">
                        <slot name="headline" />
                    </span>
                </div>
            )
        }
        <h2 class="text-4xl font-semibold">
            <slot name="heading" />
        </h2>
    </div>
</div>
