@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-latin-wght-normal */
@font-face {
    font-family: "Inter Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2)
        format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
        U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
        U+FFFD;
}

/* Base Color palette */
/* Primary: #009ba7 */
/* Secondary: #112542 */

/* NEW DESIGN COLOR PALETTE */
/* Background: #0B1D26 -> hsl(200, 55%, 10%) */
/* Primary: #009BA7 -> hsl(184, 100%, 33%) */
/* Secondary: #FBD784 -> hsl(42, 94%, 75%) */

@layer base {
    :root {
        --background: 200 55% 10%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 184 100% 33%;
        --primary-foreground: 210 40% 98%;

        --secondary: 42 94% 75%;
        --secondary-foreground: 184 100% 33%;

        --muted: 0 0% 36.86%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 184 100% 33%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        scrollbar-width: auto;
        scrollbar-gutter: stable;
        font-display: swap;
    }

    body {
        @apply bg-background text-foreground;
        overflow-y: scroll;
    }
}

@layer utilities {
    @keyframes slide-in-top {
        0% {
            transform: translateY(-1000px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .clip-path-triangle {
        clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .clip-path-triangle-inverse {
        clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    }
}
