@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Color palette */
/* Primary: #009ba7 */
/* Secondary: #112542 */

/* NEW DESIGN COLOR PALETTE */
/* Background: #0B1D26 -> hsl(200, 55%, 10%) */
/* Primary: #009BA7 -> hsl(184, 100%, 33%) */
/* Secondary: #FBD784 -> hsl(42, 94%, 75%) */

@layer base {
    :root {
        --background: 200 55% 10%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 184 100% 33%;
        --primary-foreground: 210 40% 98%;

        --secondary: 42 94% 75%;
        --secondary-foreground: 184 100% 33%;

        --muted: 0 0% 36.86%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 184 100% 33%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        scrollbar-width: auto;
        scrollbar-gutter: stable;
        font-display: swap;
    }

    body {
        @apply bg-background text-foreground;
        overflow-y: scroll;
    }
}

@layer utilities {
    @keyframes slide-in-top {
        0% {
            transform: translateY(-1000px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .clip-path-triangle {
        clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .clip-path-triangle-inverse {
        clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
    }
}
