---

---

<a
    href="/contact"
    class="block w-[300px] transform rounded-lg bg-primary px-6 py-3 text-center text-white transition-all duration-300 hover:scale-[1.02] hover:bg-primary/70"
>
    Inquire Now
</a>
