---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import { MaxWidthContainer } from "./max-width-container";

interface Props {
    image: ImageMetadata;
    title: string;
    subtitle?: string;
}

const { image, title, subtitle } = Astro.props as Props;
---

<section id="hero" class="relative h-[66vh] overflow-hidden">
    <div class="absolute inset-0">
        <div class="h-full w-full bg-gray-400">
            <Image src={image} alt="banner" class="h-full w-full object-cover" />
        </div>
        <!-- Overlay -->
        <div
            class="absolute inset-0 bg-gradient-to-t from-background via-background/80 to-background/10"
        >
        </div>
    </div>

    <MaxWidthContainer>
        <div class="relative flex h-full flex-col justify-center">
            <div class="flex items-center">
                <div class="hidden border-t border-primary lg:block lg:w-1/5 lg:max-w-[4rem]"></div>
                <span
                    class="border-b-2 border-primary pb-2 text-sm font-semibold uppercase tracking-widest text-primary lg:ml-4 lg:border-none lg:pb-0"
                >
                    {title}
                </span>
            </div>
            <h1 class="my-4 w-full text-4xl leading-tight lg:w-3/4 lg:text-5xl">
                {subtitle}
            </h1>
        </div>
    </MaxWidthContainer>
</section>
