---
import PageHero from "@/components/astro/page-hero.astro";
import MainLayout from "@/layouts/main-layout.astro";
import ContactInfo from "@/components/astro/contact-info.astro";
import { ContactForm } from "@/components/jsx/contact-form";
import { heroContactImg } from "@/assets/images";

export const prerender = false;
---

<MainLayout>
    <main class="mx-auto max-w-screen-2xl">
        <PageHero image={heroContactImg} title="Get in touch with us" />

        <section class="py-16">
            <div class="mx-auto max-w-screen-lg px-6 lg:px-0">
                <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
                    <div class="lg:col-span-2">
                        <h3 class="mb-3 font-bold">Let us know...</h3>
                        <ContactForm client:visible />
                    </div>
                    <ContactInfo />
                </div>
            </div>
        </section>
    </main>
</MainLayout>
