---
import PageHero from "@/components/astro/page-hero.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { heroContactImg } from "@/assets/images";
---

<MainLayout>
    <main class="mx-auto max-w-screen-2xl">
        <PageHero image={heroContactImg} title="Get in touch with us" />
    </main>
</MainLayout>
