---
import Layout from "@/layouts/layout.astro";
import SectionHeader from "@/components/site/section-header.astro";
import Hero from "@/components/home/hero.astro";
import OverviewSection from "@/components/site/overview-section.astro";
import FeaturedHomes from "@/components/home/featured-homes.astro";
import ContentFeatureSection from "@/components/site/content-feature-section.astro";
import { bannerImg, djiImg, home11Img, home5Img, sunsetImg } from "@/assets/images";
---

<Layout title="Home | Beach Management Nosara">
    <Hero />
    <OverviewSection>
        <Fragment slot="background-text">What are we</Fragment>
        <Fragment slot="headline">Our reason to be</Fragment>
        <Fragment slot="description">
            At Beach Management, we are dedicated to making your vacation dreams a reality. Our team
            is committed to providing you and your family or travel group with an unforgettable
            experience that will create lifelong memories. Select from our exclusive range of luxury
            homes located in some of the world's most stunning and secure locations and let us help
            you bring your dreams to life!
        </Fragment>
    </OverviewSection>
    <FeaturedHomes />

    <ContentFeatureSection id="welcome" image={bannerImg} ctaLink="/homes">
        <SectionHeader subheading slot="header">
            <Fragment slot="background-text">Welcome</Fragment>
            <Fragment slot="headline">Welcome To</Fragment>
            <Fragment slot="heading">Beach Management Nosara</Fragment>
        </SectionHeader>
        <Fragment slot="description">
            Your premier source for elite, luxury vacation home rentals and management on the
            Pacific Coast of Costa Rica. Our top-notch team delivers high-class guest services and
            professional property management to ensure your ultimate satisfaction. Whether you are a
            guest, owner, or buyer, we are here to assist you every step of the way. Discover the
            best selection of vacation homes with Beach Management.
        </Fragment>
        <span slot="cta">Explore Vacation Homes</span>
    </ContentFeatureSection>

    <ContentFeatureSection id="escape" image={sunsetImg} reverse cta={false}>
        <SectionHeader slot="header">
            <Fragment slot="background-text">Escape</Fragment>
            <Fragment slot="heading"> Escape top the breathtaking Nosara, Costa Rica </Fragment>
        </SectionHeader>
        <Fragment slot="description">
            Imagine a stunning beach town nestled in the heart of the jungle, surrounded by exotic
            wildlife and a vibrant multicultural community - that's Nosara. Immerse yourself in
            nature, enjoy some of the world's most consistent surfing conditions, and create
            memories that will last a lifetime. With a plethora of amenities and modern comforts,
            Nosara offers the perfect balance of tranquility and adventure.
        </Fragment>
    </ContentFeatureSection>

    <ContentFeatureSection
        id="nosara"
        image={djiImg}
        ctaLink="/homes"
        className="pb-12 md:pb-24 lg:pb-32"
    >
        <SectionHeader slot="header">
            <Fragment slot="background-text">Nosara</Fragment>
            <Fragment slot="heading">Your first visit won't be your last</Fragment>
        </SectionHeader>
        <Fragment slot="description">
            Each of our properties have been handpicked by us and carry their own distinct character
            and style. Whether you're looking for rustic and authentic or modern and fresh, we're
            here to help bring your dream vacation to life. We believe that your first visit to one
            of our properties will be just the beginning of a lifelong relationship. Our clients
            return year after year, drawn back by the unique charm and comfort of our properties,
            and reliable guest services throughout their Nosara experience.
        </Fragment>
        <span slot="cta">Explore Vacation Homes</span>
    </ContentFeatureSection>
</Layout>
