---
import PageHero from "@/components/astro/page-hero.astro";
import MainLayout from "@/layouts/main-layout.astro";
import TestimonialSlider from "@/components/astro/testimonial-slider.astro";
import { TestimonialsForm } from "@/components/jsx/testimonials-form";
import ContactInfo from "@/components/astro/contact-info.astro";

import { heroTestimonialsImg } from "@/assets/images";

export const prerender = false;
---

<MainLayout>
    <main>
        <PageHero image={heroTestimonialsImg} title="Testimonials" />

        <section class="bg-secondary py-16 text-white">
            <h2 class="mb-10 text-pretty text-center text-2xl font-semibold text-white lg:text-5xl">
                See what clients have to say
            </h2>
            <div class="mx-auto max-w-screen-lg px-6 lg:px-0">
                <TestimonialSlider />
            </div>
        </section>

        <section class="py-16">
            <div class="mx-auto max-w-screen-lg px-6 lg:px-0">
                <h2
                    class="mb-6 text-pretty text-center text-2xl font-semibold text-foreground lg:text-5xl"
                >
                    Let us know what you think
                </h2>

                <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
                    <div class="lg:col-span-2">
                        <h3 class="mb-3 font-bold">Let us know...</h3>
                        <p class="prose">How do you rate your experience with us:</p>
                        <TestimonialsForm client:visible />
                    </div>
                    <ContactInfo />
                </div>
            </div>
        </section>
    </main>
</MainLayout>
