---
import PageHero from "@/components/astro/page-hero.astro";
import MainLayout from "@/layouts/main-layout.astro";
import image from "@/assets/images/hero-hospitality.jpeg";
---

<MainLayout>
    <main class="mx-auto max-w-screen-2xl">
        <PageHero image={image} title="Testimonials" />
    </main>
</MainLayout>
