---
import MainLayout from "@/layouts/main-layout.astro";
import type { PropertyData } from "@/types";
import { PropertyDetails } from "@/components/jsx/property-details";
import { BookingCard } from "@/components/jsx/booking-card";

export const prerender = false;

const { slug } = Astro.params;

const apiKey = import.meta.env.API_KEY;

const roomsResponse = await fetch(`https://api.lodgify.com/v2/properties/${slug}/rooms`, {
    method: "GET",
    headers: {
        "X-ApiKey": apiKey,
        "Content-Type": "application/json"
    }
});
const rommsJson = (await roomsResponse.json()) as PropertyData[];
const data = rommsJson[0];
const imageUrl = "https:" + data.image_url;

function removeHtmlTags(str: string) {
    return str.replace(/<[^>]*>?/gm, "");
}
---

<MainLayout
    title={data.name + "Beach Management Nosara"}
    description={removeHtmlTags(data.description)}
>
    <div class="mx-auto flex max-w-screen-2xl flex-col items-center bg-gray-100">
        <div class="relative h-[450px] w-full">
            <img
                src={imageUrl}
                alt="hero"
                width={662}
                height={225}
                class="h-[450px] w-full object-cover"
            />

            <div
                class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50 px-2 text-center text-white"
            >
                <h2
                    class="text-2xl uppercase tracking-[.45em] text-[#ffffff3a] text-gray-400 opacity-40 md:text-4xl"
                >
                    HOUSE
                </h2>
                <h1
                    class="text-2xl font-medium uppercase leading-tight tracking-[.35em] text-white md:text-[3.6em]"
                >
                    {data.name}
                </h1>
            </div>
        </div>

        <div class="mx-auto md:container md:mx-4">
            <div class="grid grid-cols-1 bg-white md:grid-cols-3">
                <!-- Left Column (2fr) -->
                <PropertyDetails client:load slug={slug as string} />

                <!-- Right Column (1fr) -->
                <BookingCard slug={slug as string} client:load />
            </div>
        </div>
    </div>
</MainLayout>
