---
import { Image } from "astro:assets";

import Layout from "@/layouts/layout.astro";
import { PropertyDetails } from "@/components/jsx/property-details";
import MaxWidthContainer from "@/components/astro/max-width-container.astro";
import SectionHeader from "@/components/astro/section-header.astro";
import { reliableImg5 } from "@/assets/images";
import { removeHtmlTags } from "@/lib/utils";
import type { PropertyData } from "@/types";

export const prerender = false;

const { slug } = Astro.params;

const apiKey = import.meta.env.API_KEY;

const roomsResponse = await fetch(`https://api.lodgify.com/v2/properties/${slug}/rooms`, {
    method: "GET",
    headers: {
        "X-ApiKey": apiKey,
        "Content-Type": "application/json"
    }
});
const rommsJson = (await roomsResponse.json()) as PropertyData[];
const data = rommsJson[0];
---

<Layout
    title={data.name + "Beach Management Nosara"}
    description={removeHtmlTags(data.description)}
>
    <PropertyDetails client:load slug={slug as string} />

    <MaxWidthContainer>
        <div class="flex flex-col-reverse items-center gap-8 py-16 lg:flex-row">
            <div class="w-full">
                <SectionHeader>
                    <Fragment slot="background-text">Vacation</Fragment>
                    <Fragment slot="heading">Your Dream Vacation Awaits</Fragment>
                </SectionHeader>
                <p class="prose-invert mt-8">
                    At Beach Management, we are dedicated to making your vacation dreams a reality.
                    Our team is committed to providing you and your family or travel group with an
                    unforgettable experience that will create lifelong memories. Select from our
                    exclusive range of luxury homes located in some of the world's most stunning and
                    secure locations and let us help you bring your dreams to life!
                </p>
            </div>
            <div class="w-full">
                <Image src={reliableImg5} alt="hero" class="lg:clip-path-triangle w-full" />
            </div>
        </div>
    </MaxWidthContainer>
</Layout>
