---
import { Image } from "astro:assets";

import MainLayout from "@/layouts/main-layout.astro";
import { SearchBox } from "@/components/jsx/search-box";
import { PropertiesList } from "@/components/jsx/properties-list";

import { heroHomesImg } from "@/assets/images";
---

<MainLayout title="Vacation Homes | Beach Management Nosara">
    <div class="mx-auto flex max-w-screen-2xl flex-col items-center bg-gray-100">
        <div class="mb-72 flex flex-col items-center md:mb-32">
            <div class="relative h-[450px] w-full">
                <Image
                    src={heroHomesImg}
                    alt="hero"
                    width={662}
                    height={225}
                    format="webp"
                    class="h-[450px] w-full object-cover"
                />

                <div
                    class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50 px-2 text-center text-white"
                >
                    <h2
                        class="text-2xl uppercase tracking-[.45em] text-[#ffffff3a] text-gray-400 opacity-40 md:text-4xl"
                    >
                        EXPERIENCE NOSARA IN STYLE
                    </h2>
                    <h1
                        class="text-2xl font-medium uppercase leading-tight tracking-[.35em] text-white md:text-[3.6em]"
                    >
                        VACATION HOMES
                    </h1>
                </div>

                <div class="relative bottom-16 mx-auto w-[90%] md:bottom-20">
                    <SearchBox client:load />
                </div>
            </div>
        </div>

        <PropertiesList client:load />
    </div>
</MainLayout>
