---
import { Image } from "astro:assets";
import { PropertiesFiltered } from "@/components/jsx/properties-filtered";
import MainLayout from "@/layouts/main-layout.astro";
import { heroHomesImg } from "@/assets/images";
import MaxWidthContainer from "@/components/astro/max-width-container.astro";
import { HomeSearchBox } from "@/components/jsx/home-search-box";
---

<MainLayout title="Vacation Homes | Beach Management Nosara">
    <section id="home-hero" class="relative h-[66vh] overflow-hidden">
        <div class="absolute inset-0">
            <div class="h-full w-full bg-gray-400">
                <Image src={heroHomesImg} alt="banner" class="h-full w-full object-cover" />
            </div>
            <!-- Overlay -->
            <div class="absolute inset-0 bg-gradient-to-t from-black via-black/80 to-black/10">
            </div>
        </div>

        <MaxWidthContainer>
            <div class="relative flex h-2/3 flex-col justify-center lg:h-full">
                <div class="flex items-center">
                    <div class="hidden border-t border-primary lg:block lg:w-1/5 lg:max-w-[4rem]">
                    </div>
                    <span
                        class="border-b-2 border-primary pb-2 text-sm font-semibold uppercase tracking-widest text-primary lg:ml-4 lg:border-none lg:pb-0"
                    >
                        Experience Nosara in Style
                    </span>
                </div>
                <h1 class="my-4 w-full text-4xl leading-tight lg:w-3/4 lg:text-5xl">
                    Vacation Homes
                </h1>
            </div>
            <div
                class="absolute bottom-0 left-1/2 mx-auto w-full max-w-screen-xl -translate-x-1/2 rounded-lg bg-white p-8 text-foreground shadow-lg"
            >
                <HomeSearchBox client:load />
            </div>
        </MaxWidthContainer>
    </section>

    <PropertiesFiltered client:load />
</MainLayout>
