---
import Head from "@/components/astro/head.astro";
import Footer from "@/components/astro/footer.astro";
import Navbar from "@/components/astro/navbar.astro";
import { Toaster } from "@/components/ui/toaster";

import "@/styles/globals.css";
import ScrollUpButton from "@/components/astro/scroll-up-button.astro";
---

<html lang="en">
    <Head />

    <body class="antialiased">
        <Navbar />
        <!-- Application Entry Point -->
        <slot />
        <Toaster client:load />
        <Footer />
        <ScrollUpButton />
    </body>
</html>
